 /* For Mobile */
 @media(max-width: 480px) 
{
    .cardBox{
        height: 7rem;
    }
    .container-cards{
        margin-left: 0;
    }
}

  
  /* For Windows */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .container-cards {
        margin-left: 8rem;
      }
  }